<div class="modal-header">
    <h5 class="modal-title">Edit Comic</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input id="title" [(ngModel)]="item.title" type="text" name="title" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input id="description" [(ngModel)]="item.description" type="text" name="description" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="format" class="form-label">Format:</label>
        <input id="format" [(ngModel)]="item.format" type="text" name="format" class="form-control" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">Close</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
  </div>